<nav class='nav-main'>
    <div class="logo">
      <a href= "/users/new"><%= image_tag("spotme-06.png", width: '50', height:'45') %></a>
    </div>
    <ul>
      <li>
        <a href="#" class="nav-item">Fitness &#8964</a>
        <div class="nav-content">
          <div class="nav-sub">
            <ul>
              <li><a href="#">Men</a></li>
              <li><a href="#">Women</a></li>
              <li><a href="#">Strength</a></li>
              <li><a href="#">Endurance</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="nav-item">Community &#8964</a>
        <div class="nav-content">
          <div class="nav-sub">
            <ul>
              <li><a href="#">Forums</a></li>
              <li><a href="#">Testimonies</a></li>
              <li><a href="#">Gallery</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
      </li>
    </ul>
</nav>


<div class="create_tag">

<% if flash[:errors] %>
  <%= flash[:errors] %>
<% end %>

<%= form_for @tag, :url => { :action => "search" } do |f| %>
  <h1>Search a Tag:</h1>
  <%= f.label 'name' %>
  <%= f.text_field :name %><br>
  <%= submit_tag 'Search', class: 'search' %>
<% end %>
</div>

<%= @search.inspect %>
